cython-bbox==0.1.3
filelock
filterpy
h5py
kornia
lap
loguru
motmetrics
ninja
numpy
onnx
onnx-simplifier
onnxoptimizer
onnxruntime
opencv-python<=4.6.0.66
Pillow<10.0.0
prettytable
pyyaml >= 5.1
scikit-image
scikit-learn
scipy
tabulate
tensorboard
thop
tqdm
visualdl>=2.2.0
paddlepaddle-gpu
# torch>=1.10
# #torchaudio==0.10.0
# torchvision>=0.10.0
#torch==1.10
#torchaudio==0.10.0
#torchvision==0.11.1
